* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 20px 10px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 30px;
    border-radius: 10px;
    width: 70%;
    word-spacing: 1px;
    /* background: #E5E5E5; */
}
.top-banner {
    margin: 0px 0px 50px 0px;
    /* background-color: rgb(224, 178, 98); */
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    width: 90%;
    /* background-color: rgb(149, 173, 12); */
}
.half-width {
    width: 50%;
    margin: 0px 20px;
}
.half-width img {
    width: 70%;
}
.top-heading {
    font-size: 50px;
    border-left: 5px solid rgb(8, 233, 147);
    padding: 0px 20px;
    /* margin-bottom: 10px; */
}
h1 {
    padding-bottom: 5px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: 30px;
    word-spacing: 3px;
    margin-bottom: 40px;
}
h3 {
    padding-bottom: 10px;
}
.blue-color {
    color: rgb(24, 180, 84);
}
p {
    font-size: 18px;
    text-transform: capitalize;
}
.button-link {
    display: inline-block;
    margin: 20px 0px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(57, 141, 141);
    padding: 8px 50px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

/*====== Mission box ==========*/
/* .mission {
    margin: 0 auto;
    background-color: green;
} */
.mission-box {
    display: flex;
    /* width: 60%; */
    /* background-color: red; */
    margin-left: 200px;
    margin-bottom: 30px;
}

.card {
    width: 26%;
    height: 300px;
    margin: 10px;
    /* background-color: yellow; */
    box-shadow: 5px 5px 40px;
    border-radius: 10px;
    padding: 10px 20px;
}
.card img {
    width: 30%;
    padding-bottom: 10px;
}

.build-section {
}

.build-heading {
    text-align: center;
    font-size: 30px;
    word-spacing: 3px;
    margin-bottom: 10px;
}